@import url("https://fonts.googleapis.com/css?family=Lato|Oswald:400,700");
.navbar-inverse {
  background: #fff !important; }

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(8,65,92, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
.navbar-inverse .navbar-brand {
  font-family: "Oswald", sans-serif;
  color: #08415C; }
  .navbar-inverse .navbar-brand:hover {
    color: #08415C; }
.navbar-inverse .navbar-nav .active {
  color: #6B818C; }
.navbar-inverse .navbar-nav .nav-link {
  text-align: center;
  color: #08415C; }
  .navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .nav-link:focus {
    color: #08415C; }

* p {
  cursor: pointer; }

html, body {
  overflow-x: hidden; }

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

#main-wrapper {
  position: relative;
  width: 100%;
  background: #fff;
  height: 100vh; }
  #main-wrapper .search-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    /* Firefox 18- */
    /* Firefox 19+ */
    /* oldIE ;) */ }
    #main-wrapper .search-wrapper input {
      width: 20em;
      height: 2.5em;
      outline: none;
      color: #08415C;
      border: 1px solid #08415C;
      border-radius: 20px; }
    #main-wrapper .search-wrapper ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #08415C;
      font-family: "Lato", sans-serif;
      font-size: 0.9em; }
    #main-wrapper .search-wrapper ::-moz-placeholder {
      /* Firefox 19+ */
      color: pink; }
    #main-wrapper .search-wrapper ::-ms-input-placeholder {
      /* IE 10+ */
      color: pink; }
    #main-wrapper .search-wrapper ::-moz-placeholder {
      /* Firefox 18- */
      color: pink; }
    #main-wrapper .search-wrapper input:focus::-webkit-input-placeholder {
      color: transparent; }
    #main-wrapper .search-wrapper input:focus:-moz-placeholder {
      color: transparent; }
    #main-wrapper .search-wrapper input:focus::-moz-placeholder {
      color: transparent; }
    #main-wrapper .search-wrapper input:focus:-ms-input-placeholder {
      color: transparent; }
  #main-wrapper .hero {
    text-align: center; }
  #main-wrapper .hide {
    visibility: hidden; }
  #main-wrapper .visi {
    visibility: visible !important; }
  #main-wrapper .filter {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 380px;
    height: 250px;
    z-index: 2;
    overflow-x: hidden; }
    #main-wrapper .filter p {
      width: 290px;
      font-size: 12px;
      margin: 0 auto;
      text-align: center; }
      #main-wrapper .filter p:hover {
        color: #6B818C; }

.info {
  width: 550px;
  height: 400px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%); }
  .info .info-sec {
    width: 150px;
    height: 30px;
    visibility: hidden; }
    .info .info-sec h6 {
      font-family: "Oswald", sans-serif;
      width: 190px; }
    .info .info-sec span {
      font-family: "Lato", sans-serif;
      font-size: 13.5px;
      font-weight: normal;
      white-space: nowrap; }
  .info .info-map #meps {
    visibility: hidden;
    height: 279px;
    background: #eeeeee;
    border-radius: 3px; }

.clearfix {
  clear: both; }

footer {
  bottom: 0;
  left: 0;
  position: absolute;
  color: #08415C;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  width: 100%;
  text-align: center; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline-block;
      margin-right: 5px; }

@media all and (max-width: 425px) {
  #main-wrapper .search-wrapper input {
    width: 18em; }

  #main-wrapper .filter {
    height: 230px; } }
@media all and (max-width: 425px) {
  #main-wrapper .filter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px; }

  .info-map #meps {
    margin: 0 auto;
    width: 380px;
    visibility: hidden;
    height: 279px;
    background: #eeeeee;
    border-radius: 3px; }

  .info-sec {
    margin-left: 120px; } }

/*# sourceMappingURL=main.css.map */
