@import '_fonts.scss';
@import '_colors.scss';
@import '_nav.scss';

*{
    p{
        cursor: pointer;
    }
}

html,body{
    overflow-x: hidden;
}

body{
  font-family: $lato;
  overflow: hidden;
width: 100vw;
height: 100vh;
}

@mixin centered {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#main-wrapper{
  position: relative;
width: 100%;
  background:$white;
height:100vh;
.search-wrapper{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-20%);
  input{
    width: 20em;
    height: 2.5em;
    outline: none;
    color: $dblue;
    border: 1px solid $dblue;
    border-radius: 20px;
  

  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: $dblue;
font-family: $lato;
font-size: 0.9em;
}
::-moz-placeholder { /* Firefox 19+ */
color: pink;
}
::-ms-input-placeholder { /* IE 10+ */
color: pink;
}
::-moz-placeholder { /* Firefox 18- */
color: pink;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */
}
.hero{
  text-align: center;
}
    .hide{
    visibility: hidden;
    }
     .visi{
            visibility: visible !important;
        }
    .filter{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-60%);
        width: 380px;
        height:250px;
        z-index: 2;
      overflow-x: hidden;
        
        p{
            width: 290px;
    font-size:12px;
margin: 0 auto;
            text-align: center;
            &:hover{
                color: $gray;
            }
        }
    }
}
.info{
    width: 550px;
    height: 400px;
    position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-65%);
    .info-sec{
        width: 150px;
        height: 30px;
        visibility: hidden;
        h6{
            font-family: $Osw;
        width: 190px;
        }
        span{
            font-family: $lato;
            font-size: 13.5px;
            font-weight: normal;
            white-space: nowrap;
        }
    }
    .info-map{
        #meps
{
    visibility: hidden;
	height: 279px;
    background: #eeeeee;
    border-radius: 3px;
}
       
    }
}
.clearfix{
  clear: both;
}
footer{
  bottom: 0;
  left: 0;
  position: absolute;
  color: $dblue;
  font-family: $lato;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  ul{
    list-style: none;
    li{
display: inline-block;
margin-right:5px;
    }
  }


}


@media all and (max-width: 425px) {
#main-wrapper .search-wrapper input{
  width: 18em;
}
    #main-wrapper .filter{
        height: 230px;
    }
}
@media all and (max-width:425px){
    #main-wrapper .filter{
     top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 160px;
    }
    
       .info-map{
        #meps
{
    margin: 0 auto;
    width: 380px;
    visibility: hidden;
	height: 279px;
    background: #eeeeee;
    border-radius: 3px;
}
    }
    .info-sec{
      margin-left: 120px;
    }
}
